<div class="page-header">
  <h1>Editing post</h1>
</div>

<%= render 'form' %>

<%= link_to 'Cancel', @post, class: 'bootsy-button btn btn-default' %>
<%= link_to 'Destroy', @post, method: :delete, class: 'bootsy-button btn btn-default', data: { confirm: 'Are you sure?' } %>
